@import './header.css';

:root {
  --background-color : #FFF8F3;
  --primary-color : #8B593E;
  --text-color : #4A3428 ; 
}

body, html{
  height: 99%;
  padding : 0.5vh; 
  backgroundcolor : var(--background-color); 
}

#app  {
  flex: 1 ;
  width : 100%;
  height: 100%;
}
